<layout-row id="RowLayout1">
	<layout-column id="ColumnLayout1" style="justify-content:center">
		<layout-row id="RowLayout2" style="align-items:center">
			<h4 id="Heading41">Type the URL:</h4>
			<davinci-text-field id="TextField1" type="text" required
				style="width: 750px; margin-left: 20px;">
				<crown-binding event="change" name="HttpClient_Status/setName"
					path="param/args/change" auto-commit>
				</crown-binding>
			</davinci-text-field>
		</layout-row>
		<layout-row id="RowLayout3">
			<h4 id="Heading42">Status:</h4>
			<davinci-text-field id="TextField2" type="text" style="width: 750px; margin-left: 77px;">
				<crown-on property="value" crown-event="HttpClient_Status/getStatusdata">
				</crown-on>
                <davinci-status-indicator id="StatusIndicator1" color-on="#4bb85a"
							 style="margin-top: 10px;">
					<crown-on property="status" crown-event="HttpClient_Status/getStaCode">
					</crown-on>
                </davinci-status-indicator>
			</davinci-text-field>
		</layout-row>
	</layout-column>
  
</layout-row>
